{% extends '_base.twig' %} {% block title %}Homepage{% endblock %} {% block content %}

<div style="width:70%" ; class="container text-center pt-4">
    <div style="text-align:start">
        <h1>GENERIC HIPSTER COFFEE</h1>
        <p>pecialty coffee, fresh food &amp; local community. </p>
    </div>

    <div class="">
        <img class="img-fluid" src="img/counter.jpg" alt="Counter">
    </div>
    <div class="middle-part">
        <div class="container d-flex justify-content-between mt-4 d-sm-flex flex-wrap justify-content-center">
            <div class=" mt-4" style="text-align:start">
                <h2>Opening hours</h2>
                <p> sunday to thursday: 8 am to 11 pm </p>
                <p>friday to saturday: 8 am to 1 am </p>
            </div>
            <div class=" mt-4" style="text-align:start">
                <h2>Book a table</h2>
                <p>Call +1 415-321-4567 </p>
            </div>
            <div class="mt-4" style="text-align:start">
                <h2>Address</h2>
                <p>321 Ivy St.San Francisco,</p>
                <p> CA 94102</p>
            </div>
        </div>
    </div>
    <div class="map">
        <div id="map" style="width:100%; height:400px"></div>
        <script>
            function myMap() {
                var mapOptions = {
                    center: new google.maps.LatLng(51.5, -0.12),
                    zoom: 10,
                    mapTypeId: google.maps.MapTypeId.HYBRID
                }
                var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcmmk2ZB1C9ct-nT4xm3__RK8cSxmDbDo&callback=myMap">
            >
        </script>

    </div>

</div>





{% block content %}{% endblock %} {% endblock %}